include README.md
include LICENSE
include pyproject.toml
include requirements*.txt
include .pre-commit-config.yaml

recursive-include ggpubpy *.py
recursive-include ggpubpy/data *.csv
recursive-include tests *.py
recursive-include examples *.py *.ipynb

global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .DS_Store
global-exclude *.so
global-exclude *.pyd
